body{
  background-color: rgb(196, 196, 139);
}

header{
  text-align: center;
  background-color: rgb(217, 98, 98);
  padding: 20px 0;
  box-shadow: 0 4px 8px;
}

header h1{
  font-size: 2.5em;
  color: azure;
  text-shadow: 0 10px 20px rgb(0, 0, 0);
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

nav ul li a{
  text-decoration: double;
  font-size: 14px;
  color: rgb(50, 69, 18);
  font-weight: bold;

}
nav a:hover{
  color: rgb(93, 40, 84);
  

}
main {
  background-color: rgb(217, 97, 97);
  padding: 20px 0;
  box-shadow: 0 4px 8px;
}


main div h2{
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  color: rgb(22, 27, 27);
  text-shadow: 0 10px 20px rgb(0, 0, 0);
}

main div img p{
  display: flex;
  justify-content: center;
  border-radius: 100px;

}

footer{
  background-color: rgb(63, 42, 42);
  padding: 20px 0;
  box-shadow: 0 4px 8px;
  color: aliceblue;
  text-align: center;
  
}
footer ul li{
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  color: rgb(235, 239, 240);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  
}

.contenedor{
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 4px 8px beige;
  overflow: hidden;
  max-width: 300px;
  text-align: center;
  padding: 7px;
  margin: 0 auto;


}

.contenedor img {

  
  width: 100%;
  height: auto;
  border-bottom: 2px solid;
  text-align: center;
}
main div h1{
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  color: rgb(22, 27, 27);
  text-shadow: 0 10px 20px rgb(0, 0, 0);
}